/* link Fuente montserrat*/
.cormorant-upright-light {
    font-family: "Cormorant Upright", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .cormorant-upright-regular {
    font-family: "Cormorant Upright", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cormorant-upright-medium {
    font-family: "Cormorant Upright", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .cormorant-upright-semibold {
    font-family: "Cormorant Upright", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .cormorant-upright-bold {
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.img-fluid{
  max-width: 100%;
  height: auto;
}

*{
  background-color: #faf6f3;
}